services:
  app:
    container_name: nativeflow-api
    networks:
      - nativeflow-net
    build:
      context: .
    image: wesley00s/video-sass:latest
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    dns:
      - 8.8.8.8
      - 1.1.1.1

  postgres:
    image: postgres:18-alpine
    container_name: nativeflow-postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - nativeflow-net

volumes:
  postgres_data:

networks:
  nativeflow-net:
    driver: bridge